.body-all {
  display: flexbox;
  flex-direction: column;
  align-content: space-between;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  background-color:blanchedalmond;

  border: solid;
  border-width: 5px;
  border-color: brown;
}

  .title {
    text-align: center;
    border: solid;
    border-width: 5px;
    border-color: orange;
  }

  #main-menu {
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto; 

    border: solid;
    border-width: 5px;
    border-color: purple;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border: solid;
    border-width: 5px;
    border-color: yellowgreen;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
  }
  
  .nav-a { 
    display: flex;
    flex-grow: 1;
    justify-content:center;
    padding: 1%;
    border: solid;
    border-width: 5px;
    border-color: aqua;  
  } 
  
  a {
    color: black;
    text-decoration: none;
  }
  
  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5% 15% 5% 15%;
    

    border: solid;
    border-color: orange;
    border-width: 5px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;

    border: solid;
    border-color: orange;
    border-width: 5px;
  }

  footer div {
    padding:5px;
  }