
 @media screen and (min-width: 601px) {
   {
    font-size: 80px;
  }
}

#background {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, #d7d8c2, #ebe0b9, #c7c9b0, #acacb1, black); 
}
  #topofpage {
    margin: 0;
  }
  #home-images {
  position: absolute;
  left: 5%;
	max-width: 90%;
	border-radius: 3px;
    
  }
  #main-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 80px;

    background:#050307;
    color: rgb(241, 241, 231);
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    width:100%;
    height: 20px;
    background-color: black;

  }
  
  #menu-button {
    display: inline-block;
    list-style-type: none;
    width: 25%;
    height: 20px;
    background-color: black;
    text-align: center;

  }

  a {
    color: white;
    text-decoration: none;
  }

  .container {
      display: grid;  
      grid-template-columns: 100px 100px 100px;  
      grid-template-rows: 100% 100%;  
  }
  
  #home-body {
  position: relative;
  left: 5%;
	max-width: 90%;
	border-radius: 3px;
  }

  div {
    overflow: auto;
  }
  
  p {
    text-align: justify;
  }

  footer {
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 5px;
    color: white;
    justify-content: center;
  }

  span {
    padding: 10px;
    display: flex;
    width: 50%;
    justify-content: center;
  }